<%- include("header", { title: "Új tárgy hozzáadása"}) -%>
            <h1 class="text-center">Új tárgy hozzáadása</h1>
            <div class="row justify-content-center">
                <form class="col-6" action="/targy/new" method="POST">
                    <table class="table table-borderless table-bordered">
                        <div class="form-group">
                            <tr>
                                <td class="col-3 text-end align-middle">
                                    <label for="nev">
                                        Tárgy neve:
                                    </label>
                                </td>
                                <td class="col-3">
                                    <input type="text" class="form-control" id="nev">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-3 text-end">
                                    <input type="submit" class="btn btn-success" value="Új tárgy hozzáadása">
                                </td>
                                <td class="col-3 text-start">
                                    <a href="/targy/list" class="btn btn-danger">Mégsem</a>
                                </td>
                            </tr>
                        </div>
                    </table>
                </form>
            </div>
<%- include("footer") -%>